html,body,footer.footer {
  background-color: hsl(0, 0%, 96%);
}
.footer {
  padding-top: 0;
}
.section {
  padding-bottom: 24px;
}
.box {
  margin-top: 2rem;
  box-shadow: 8px 8px 12px rgba(10,10,10,0.2), 0 0 0 1px rgba(10,10,10,0.2);
}
.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}
.avatar svg {
  padding: 20px;
  height: 128px;
  width: 128px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
#phoneNumberField {
  margin-bottom: -10px;
}